{% extends './base.html' %}
{% block title %}Login{% endblock %}

{% block body %}

<div class="">
	<form action="/login" method="post">
		<div class="">
			<label for="email" class="">Email</label>
			<input type="email" name="email" id="email" class="">
		</div>
		<div class="">
			<label for="password" class="">Password</label>
			<input type="password" name="password" id="password" class="">
		</div>
		<input type="hidden" name="csrf" value="{{ csrf_token() }}">
		<button type="submit" class="">Login</button>
	</form>
</div>

{% endblock %}